{% extends 'base.html' %}


{% block content %}
{% load cart %}
{% load custom_filter %}
<div class="container">
    <div >
        <br>
        <form action="{% url 'cart' %}" >
         {% csrf_token %}
           <input type="text" align="right" placeholder=" enter cart code here" name ="shared_cart_id" >
            <input type="submit" class="btn  btn-outline-success rounded-pill col-lg-2" value="Import cart">
        </form>

</br>
    </div>
   <div class="border rounded p-4 m-4">
        <p class="display-4 pl-4 ml-4 btn btn-success rounded-pill">Your Cart</p>

           <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                
                {% for product in products %}
                     <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;" class="square-box" src="image/download/{{product.image}}" alt=""/></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price|currency}}</td>
                    <td>{{product|cart_quantity:request.session.cart}}</td>
                    <td>{{product|price_total:request.session.cart|currency}}</td>
                </tr>

                {% endfor %}

            </tbody>
             {% if products|total_cart_price:request.session.cart > 0 and products|total_cart_price:request.session.cart <= 35 %}

            <tfoot>
                <tr>
                    <th colspan="4"></th>
                    <th class="" colspan="">Total</th>
                    <th>{{products|total_cart_price:request.session.cart|add:5|currency}}</th>

                </tr>
            {% endif %}
            </tfoot>
             {% if products|total_cart_price:request.session.cart > 0 and products|total_cart_price:request.session.cart <= 35 %}

                <tfoot>
                <tr>
                    <th colspan="4"></th>
                    <th class="" align="right" colspan=""><t>Below  minimum order chargers</t></th>
                    <th>   $ 5</th>

                </tr>

            </tfoot>

            {% else %}
                    <tfoot>
                <tr>
                    <th colspan="4"></th>
                    <th class="" colspan="">Total</th>
                    <th>{{products|total_cart_price:request.session.cart|currency}}</th>
                </tr>
            </tfoot>
            {% endif %}
        </table>
        <hr>
      <div class="m-3 p-3" >
            <a href="#" data-toggle="modal" data-target="#exampleModal2" class="btn btn-outline-success border rounded  col-lg-3 float-right">Share my cart</a>
          </div>
           <div class="m-3 p-3" >
                <a href="#" data-toggle="modal" data-target="#exampleModal" class="btn btn-outline-success border rounded  col-lg-3 float-right">Check out</a>
              </div>
         <div class="m-3 p-3" >
            <a href="#" data-toggle="modal" data-target="#exampleModal3" class="btn btn-outline-success border rounded  col-lg-3 float-right">Add to shared cart</a>
          </div>
   </div>
</div>


<!-- modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
              Check Out Form
          </h5>
          <hr>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="m-2 p-3">
            <form action="/check-out" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label for="">Address</label>
                  <input type="text" name="address" id="address" class="form-control" placeholder="" aria-describedby="helpId">
                  
                </div>
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" name="phone" id="phone" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
                <div class="form-group">
                    <label for="">Pincode</label>
                    <input type="text" name="pincode" id="pincode" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>

                  <input type="submit" class="btn float-right btn-outline-success col-lg-6" value="Check out">
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>


  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <div class="m-2 p-3">
            <form action="/shared-cart" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  please click share below to share your cart.
                    Add address and phone number if you want items you ordered to get it delivered
                    at your address.

                </div>
                 <div class="form-group">
                  <label for="">Address</label>
                  <input type="text" name="address" id="address-scart" class="form-control" placeholder="" aria-describedby="helpId">

                </div>
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" name="phone" id="phone-scart" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
                <div class="form-group">
                    <label for="">Pincode</label>
                    <input type="text" name="pincode" id="pincode-scart" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>

                <input type="submit" class="btn float-right btn-outline-success col-lg-6" value="share">
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
<div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
        </div>
        <div class="modal-body">
          <div class="m-2 p-3">
            <form action="/shared-cart" method="POST">
                {% csrf_token %}
                 <div class="form-group">
                  <label for="">Group cart name </label>
                  <input type="text"  name="gcart-name" id="name-gcart" class="form-control" placeholder="" aria-describedby="helpId">

                </div>
                 <div class="form-group">
                  <label for="">Address</label>
                  <input type="text" name="address" id="address-gcart" class="form-control" placeholder="" aria-describedby="helpId">

                </div>
                <div class="form-group">
                    <label for="">Phone</label>
                    <input type="text" name="phone" id="phone-gcart" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>
                <div class="form-group">
                    <label for="">Pincode</label>
                    <input type="text" name="pincode" id="pincode-gcart" class="form-control" placeholder="" aria-describedby="helpId">
                  </div>

                <input type="submit" class="btn float-right btn-outline-success col-lg-6" value="share">
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>


{% endblock %}